PyPDF2
pdfplumber
nlp
docx2txt
scikit-learn
spacy==2.3.5
pandas
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
nltk
pyresparser
gensim
matplotlib
langchain
langsmith
fsspec
openai
tiktoken
faiss-cpu
